.hyperlinkin_becomeseller {
  text-align: center;
  color: #9b9691;
  font-size: 0.825rem !important;
}

.td--ul {
  text-decoration: underline !important;
}
.tc--lg {
  color: blue !important;
}
.resendhyperlink {
  margin-right: -29rem;
}
